body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

h1 {
    text-align: center;
    color: #333;
}

main {
    text-align: center;
    margin-top: 50px;
}

#current-weather {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#current-temp {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#weather-icon {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#weather-description {
    font-size: 18px;
    color: #555;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
