main {
    grid-template-columns: 1fr 1fr;
}
main > section:nth-of-type(3) {
    grid-column: span 2;
    width: 50%;
    justify-self: center;
}

main {
    grid-template-columns: 1fr;
    grid-gap: 20px 0;
}
main > section {
    grid-column: 1;
    width: 90%;
    max-width: 450px;
    justify-self: center;
}
section img {
    max-width: 400px;
}

@media only screen and (max-width: 600px){
    .nav-menu {
        display: none;
    }

    .nav-menu.show-menu {
        display: block;
    }
}