body {
    font-family: 'Georgia', serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

#color-schema h2 p {
    color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

header {
    background-color: #3d3d3d;
    color: #FFFFFF;
    padding: 1em;
    text-align: center;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: white;
}

h2 {
    font-family: 'Arial', sans-serif;
    color: black;
}

nav {
    padding: 0.5em 0;
    background-color: #6b818c; /* Add a background color to match your design */
}

.horizontal-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between; /* Adjust space between items */
}

.horizontal-nav li {
    flex: 1; /* Each item takes up equal space */
    text-align: center; /* Center text within each item */
}

.horizontal-nav li a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.5em 1em;
    display: block;
    transition: background-color 0.3s ease;
}

.horizontal-nav li a:hover {
    background-color: #555555;
}

.horizontal-nav .active a {
    background-color: #555555;
    font-weight: bold;
}

main {
    padding: 1em;
}

section {
    margin-bottom: 2em;
    padding: 1em;
    border: 1px solid black;
    border-radius: 5px;
}

footer {
    background-color: #3d3d3d;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    width: 100%;
}

#wireframe img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.mobile-wireframe {
    width: 375px;
    height: 667px;
    border: 1px solid #000;
    overflow: hidden;
    margin: 0 auto;
}

.mobile-wireframe img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    section {
        flex: 1 1 calc(50% - 2em);
        margin: 1em;
    }

    #wireframe {
        flex: 1 1 100%;
    }
}
