
    @media (min-width: 500px) {
        body {
        font-size: 18px;
        }
    }

    /* Mobile view: display links vertically */
nav {
    display: flex;
    flex-direction: column;
    }
    
    /* Larger view: display links horizontally */
    @media screen and (min-width: 600px) {
    nav {
    flex-direction: row;
    }
    }